@charset "UTF-8";
	/*회원가입폼에서 가운데 정렬하기 위한 CSS/네이버회원가입 벤치마킹*/
	#signinCss{
		background-color: #F2F2F2;
		align-items:center;
		justify-content: center;
		margin: auto;
		height: auto;
		display: flex;
	}
	
	/*회원가입폼 푸터*/
	#signinfooterCsds{
		text-align:center;
		background-color: #F2F2F2;
	}
	/*registerForm text-area size*/
	#registerForm>input[type=text]{
		width:460px;
		height: 51px;
	}
	#registerForm>input[type=password]{
		width:460px;
		height: 51px;
	}
	#registerForm>input[type=submit]{
		width:460px;
		height: 51px;
	}
	/*select class from register-form*/
	.sexSelect{
		width:460px;
		height: 51px;
	}
	/*birth date from register-form*/
	#birth{
		width:460px;
		height: 51px;
	}
	
	/*addReview-Rating-stars*/
	#rating_star_grade a{
		text-decoration: none;
		color: gray;
	}
	#rating_star_grade a.on{
		color: red;
	}



